body{
    background-color: #e2f0e2;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
hr{
                   
    border-style: none;
    border-top: 8px dotted #6B7AA1;
    width: 10%;
}
h1{
    color: #11324D;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    color: #11324D;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    margin-left: auto;
    margin-right: auto;
}


table {
    margin-left: auto;
    margin-right: auto;
      }

